.BG {
    background-image: url("../../Assets/background_forum.jpg");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
    z-index: -1;
}